src/main/mule/new-mule-hi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9af38593-64ae-49d8-9fbe-1ccb2db7d5e9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="new-mule-hiFlow" doc:id="375e1359-966b-4aa3-ab87-018657eb98bf" >
		<http:listener doc:name="Listener" doc:id="d26e1cf5-f960-4f05-a043-27f3a7b00b95" config-ref="HTTP_Listener_config" path="/new-hi"/>
		<logger level="INFO" doc:name="Logger" doc:id="860cfe95-32c2-4388-ba9d-cbeb77402d3f" message="#[payload]"/>
	</flow>
</mule>
